.profile-pic {
  width: 100%;
  border-radius: 50%;
}

.centered {
  width: 30%;
  margin: auto;
}

.center {
  width: 50%;
  margin: auto;
}

.btn-img {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
}

.btn-img img {
  display: block;
}

.btn-img:hover .img-wrap {
  background-color: black;
}

.btn-img:hover img {
  opacity: 0.8;
}
